.contact-container{
    overflow: hidden;
    form{
        background-color: white;
        width: 50%;
        height:400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, 50%);
        z-index: 10;
        padding:20px;
        border-radius:15px;
        input{
            border-color: #707070;
            border-top:none;
            border-left:none;
            border-right:none;
            border-radius: 0;
            margin-bottom:20px;
        }
        textarea{
            margin-top:20px;
            border-color: #707070;
            margin-bottom:40px;
        }
        button{
            position:absolute;
            bottom:-10px;
            left: 50%;
            padding-left: 40px;
            padding-right: 40px;
            transform: translate(-50%, 15%);
        }
    }   
}