.mt-70 {
  margin-top: 70px;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.form-block {
  width: 37%;
  position: absolute;
  left: 52%;
  top: 49%;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
}

.form-block.forgot {
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  top: 50%;
  left: 50%;
}

.form-block.forgot button {
  margin-top: 100px !important;
}

.form-block h1 {
  color: #3e1741;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-block form {
  background-color: white;
  -webkit-box-shadow: 0 3px 30px #8f6b91;
          box-shadow: 0 3px 30px #8f6b91;
  border-radius: 15px;
  padding: 40px;
}

.form-block form p {
  color: #643c68;
  font-size: 24px;
  margin-left: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.form-block form .form-group label {
  color: #b092b1;
  margin-left: 10px;
}

.form-block form .form-group input {
  background-color: #f5eff5;
  border-radius: 15px;
  border: none;
  height: 60px;
  color: #3e1741;
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.form-block form .form-group.rememberMe {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 120px;
  position: relative;
  display: block;
}

.form-block form .form-group.rememberMe label {
  position: relative;
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.form-block form .form-group.rememberMe label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-block form .form-group.rememberMe label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid grey;
}

.form-block form .form-group.rememberMe label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  -webkit-transform: rotate(-45deg) scale(0);
          transform: rotate(-45deg) scale(0);
  -webkit-transition: -webkit-transform ease 0.25s;
  transition: -webkit-transform ease 0.25s;
  transition: transform ease 0.25s;
  transition: transform ease 0.25s, -webkit-transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

.form-block form .form-group.rememberMe input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.form-block form .form-group.rememberMe input[type="checkbox"]:checked ~ label:before {
  border: 2px solid grey;
}

.form-block form .form-group.rememberMe input[type="checkbox"]:checked ~ label:after {
  -webkit-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
}

.form-block form .form-group.rememberMe input[type="checkbox"]:focus + label::before {
  outline: 0;
}

.form-block form .btn-submit {
  background-color: #e4cae4;
  border-radius: 50px;
  color: white;
  font-size: 25px;
  display: block;
  margin: 0 auto;
  padding: 20px 25px;
  min-width: 240px;
}

.form-block a {
  text-decoration: none;
  color: white;
  margin: 10px auto;
  display: block;
  text-align: center;
}

.form-block a:hover {
  color: #3e1741;
}

.info-container {
  margin-top: 90px;
}

.info-container .info-elements {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.info-container .info-elements .info-img {
  padding: 0;
  margin-top: 40px;
}

.info-container .info-elements .info-img img {
  border-radius: 15px 15px 0 15px;
  height: 400px;
  width: 400px;
  margin-bottom: 40px;
  float: right;
  -webkit-box-shadow: 0 0 15px #91382c;
          box-shadow: 0 0 15px #91382c;
}

.info-container .info-elements .info-text {
  background-color: white;
  margin-top: 100px;
  padding: 15px;
  border-radius: 0 15px 15px 15px;
  max-width: 400px;
  position: relative;
}

.info-container .info-elements .info-text h2 {
  color: black;
}

.info-container .info-elements .info-text p {
  color: black;
}

.info-container .info-elements .info-text button {
  position: absolute;
  bottom: -20px;
  left: 145px;
}

.success-block {
  position: absolute !important;
  left: 54%;
  top: 49%;
  -webkit-transform: translate(-50%, -46%);
  transform: translate(-50%, -46%);
}

.success-block h1 {
  color: #3e1741;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.success-block .success-block__box {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.success-block .success-block__box .far {
  color: #9b689e;
  font-size: 78px;
  display: block;
  margin: 40px 0;
  text-align: center;
}

.success-block .success-block__box p {
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  color: #532c55;
}

.success-block .success-block__box .btn-close {
  background-color: #9b689e;
  border-radius: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
  width: 180px;
  font-size: 25px;
  margin: 40px auto 20px auto;
  display: block;
}

.footer {
  background-color: #5c245f;
  position: relative;
  padding-top: 150px;
}

.footer #reversedCurve {
  position: absolute;
  top: -25px;
  width: 100%;
}

.footer #reversedCurve path {
  fill: #f9f9f9;
}

.footer ul li {
  color: #b092b1;
  list-style-type: none;
  margin-top: 40px;
  font-size: 20px;
}

.footer img {
  width: 200px;
  margin-bottom: 20px;
  margin-top: -90px;
}

.main-navigation a {
  font-size: 15px;
}

.main-navigation a img {
  width: 200px;
  margin-top: 35px;
  margin-left: -50px;
}

.main-navigation .nav .nav-item .nav-link {
  color: #F1D8F2;
  font-size: 15px;
  margin-top: -50px;
}

.main-navigation .nav .nav-item .nav-link.active {
  color: #3e1741;
  font-weight: 700;
  text-shadow: 0 3px 30px #3e1741;
}

.contact-container {
  overflow: hidden;
}

.contact-container form {
  background-color: white;
  width: 50%;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 10;
  padding: 20px;
  border-radius: 15px;
}

.contact-container form input {
  border-color: #707070;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.contact-container form textarea {
  margin-top: 20px;
  border-color: #707070;
  margin-bottom: 40px;
}

.contact-container form button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transform: translate(-50%, 15%);
          transform: translate(-50%, 15%);
}

.contact-section {
  background-color: #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
  width: 100%;
}

#curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#curve path {
  fill: #f9f9f9;
}

.hero-section {
  background-image: url("../img/bghouseofcode.png");
}

.hero-section .hero {
  margin-top: 10vh;
}

.hero-section .hero h1 {
  color: #47054a;
  font-weight: 700;
  font-size: 70px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 22px;
}

.hero-section .hero p {
  margin-top: 10px;
  color: #F1D8F2;
  font-size: 18px;
  padding: 22px;
}

.hero-section .hero img {
  height: 550px;
  width: 80%;
  float: right;
  margin-top: 50px;
}

.hero-section-full {
  min-height: 120vh;
}

.pricing-section {
  background-color: #f9f9f9;
}

.pricing-section .container h2 {
  color: #47054a;
  font-size: 50px;
  font-weight: 650;
  margin-top: 70px;
}

.pricing-section .container h3 {
  color: #bab2bb;
  font-size: 35px;
  font-weight: 500;
}

.pricing-section .container .card {
  background-color: white;
  border-radius: 15px;
  border: none;
  height: 100%;
}

.pricing-section .container .card .card-header {
  background: none;
  border-bottom: none;
  position: relative;
}

.pricing-section .container .card .card-header h2 {
  color: #47054a;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 40px;
  z-index: 10;
  position: relative;
}

.pricing-section .container .card .card-header .pricing-svg {
  position: absolute;
  top: 0;
  right: 0;
}

.pricing-section .container .card .card-header #small {
  height: auto;
  width: 50%;
}

.pricing-section .container .card .card-header #medium {
  height: auto;
  width: 65%;
}

.pricing-section .container .card .card-header #large {
  height: auto;
  width: 88%;
}

.pricing-section .container .card .card-header #enterprise {
  height: auto;
  width: 100%;
}

.pricing-section .container .card ul {
  font-size: 17px;
  margin-left: -5px;
}

.pricing-section .container .card ul li {
  color: #eceaea;
  margin-bottom: 5px;
}

.pricing-section .container .card ul li span {
  color: #ac84ae;
}

.pricing-section .container .card button {
  background-color: #f5eff5;
  color: #47054a;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  width: 230px;
  margin: 0 auto;
  padding: 7px;
  margin-bottom: 20px;
  margin-top: auto;
}

.pricing-section .container .card button span:first-child {
  color: #c09dc1;
}

.pricing-section .container .card button span:last-child {
  color: #674e68;
  display: block;
  font-weight: 400;
}

.pricing-section .contact-section p {
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-section .contact-section button {
  background-color: #aa81ac;
  border-radius: 50px;
  border: none;
  margin: 0 auto;
  display: block;
  height: 70px;
  width: 170px;
  margin-bottom: 30px;
}

.pricing-section .contact-section button:hover {
  background-color: #47054a;
}

.pricing-section .contact-section button span {
  color: white;
  text-align: center;
  font-size: 20px;
}

.pricing-section .contact-section button .fas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  size: 20px;
}
/*# sourceMappingURL=style.css.map */